{% extends 'base.html' %}
{% block content%}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{%url 'search'%}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (ชื่อเรื่อง, นักเขียน, สำนักพิมพ์)">
              </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'index'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <!-- <li class="breadcrumb-item">
            <a href="listings.html">Browse Listings</a>
          </li> -->
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {%if listings%} {% for listing in listings %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview ">
            <img
              class="card-img-top image mt-3 align-self-center "
              src="{{listing.photo_main.url}}"
              alt=""
            />
            {% if listing.is_mvp %}
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">แนะนำ</span>
              </h2>
            </div>
            {% endif %}
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.title}}</h4>
              </div>
              <hr />
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-pen-alt"></i> {{listing.author.name}}
                </div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-12"><i class="fas fa-book"></i> {{listing.category.title}}</div>
              </div>
              <a href="{%url 'listings' listing.id%}" class="btn btn-primary btn-block"
                >รายละเอียดเพิ่มเติม</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {%else%}
        <p>No Data Available</p>
        {%endif%}
      </div>
    </div>
  </section>
{% endblock %}